<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
  
  <button routerLink = "mainpage">New component</button>
 

<br />
<br/>
<router-outlet></router-outlet>